.form-group{
  margin: 50px;
}
Form {
  .ng-valid.ng-touched {
    border: 2px solid var(--app-success);
  }
  .ng-invalid.ng-touched {
    border: 2px solid var(--app-error);
  }
}
label {
  font-weight: 600;
  margin-left: 35px;
  margin-bottom: 20px;
}
button {
  margin-left: 110px;
  margin-bottom: 40px;
}
