<div class="container">
  <div class="row d-flex">
    <div class="col title">
      <h1>Schlack</h1>
    </div>
    <div class="col greetings" *ngIf="isPseudoExist">
      <span class="greetings-text">Bonjour</span>
      <span class="greetings-pseudo">{{pseudo}}</span>
    </div>
    <div class="col">
      <button class="btn btn-secondary" *ngIf="isPseudoExist" (click)="forgetPseudo()">Logout</button>
    </div>
    <div class="col pseudo" *ngIf="!isPseudoExist">
      <form class="form" (ngSubmit)="onSubmit()" [formGroup]="pseudoGroup">
        <input type="text" id="pseudo" placeholder="Entrez votre pseudo" formControlName="pseudo">
        <input type="submit">
      </form>
    </div>
  </div>
</div>
