.container {
  display: flex;
}

.title-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

fa-icon {
  margin-right: 5px;
}

#btn-edit {
  margin-left: 10px;
}

#btn-edit:hover {
  display: none;
  margin-left: 10px;
}

#btn-delete {
  margin-left: 5px;
}

#btn-delete:hover {
  display: none;
  margin-left: 5px;
}

