.container {
  display: flex;
  gap: 5px;

}

.title-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

fa-icon {
  margin-right: 5px;
}

.btn-chan {
  padding-left: 25px;
}

