<div class="title-container">
  <h5 id="chan-list">Canaux</h5>
  <fa-icon id="add-chan" [icon]="faPlus" (click)="open()"></fa-icon>
</div>
<ul class="nav flex-column" *ngFor="let item of collection">
  <div class="container">
    <fa-icon [icon]="faHashtag"></fa-icon>
    <app-btn-link link="{{'listMessages/'+item.id}}" [name]="item.name">
      <span class="btn-chan">
        <fa-icon id="btn-edit" [icon]="faEdit" (click)="edit(item.id, item.name)" *ngIf="item.id !== 1"></fa-icon>
        <fa-icon id="btn-delete" [icon]="faTrash" (click)="delete(item.id, item.name)" *ngIf="item.id !== 1">
        </fa-icon>
      </span>
    </app-btn-link>
  </div>
</ul>
